.root {
  --loader-size: 160px;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--loader-size);
  height: var(--loader-size);
  border-radius: 50%;

  color: var(--background-primary);
  backdrop-filter: blur(calc(var(--loader-size) / 2));

  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }

  50% {
    transform: translateY(-20px);
    opacity: 1;
  }
}
