.root {
  padding: 8px 12px;
  height: 40px;
  flex: 1;

  background: var(--background-primary);
  border: 1px solid var(--background-dark);
  border-radius: 6px;

  color: var(--text-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  transition: box-shadow, border-color, color, var(--transition);
}

.root:not([aria-invalid="true"]):focus {
  border-color: var(--primary-base);
  box-shadow: 0 0 0 4px var(--primary-light);
  outline: none;
}

.root::placeholder {
  color: var(--text-light);
}
