.root {
  background-color: var(--text-primary);
  opacity: 24%;
}

.round {
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.rectangle {
  width: 32px;
  height: 8px;
  border-radius: 4px;
  opacity: 0.24;
}

.completed {
  opacity: 100%;
}

.container {
  display: flex;
  align-items: center;
  transition: opacity var(--transition);
}

.container.isRectangle {
  gap: 8px;
}

.container.isRound {
  gap: 4px;
}
